.card {
  background: #ffffff;
  padding: 22px;
  width: 220px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.15);
}

.card h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: #222;
}

.card p {
  margin-top: 6px;
  font-size: 15px;
  color: #666;
}
@media (min-width: 1100px) and (max-width: 1200px) {
  .card{
 width: 200px;
  }}
@media (min-width: 1000px) and (max-width: 1100px) {
  .card{
 width: 170px;
  }}

  @media (min-width: 700px) and (max-width: 1024px) {

  .card{
 width: 156px;
  }
}